!!!
%html
  %head
    %link{href: "$views/css/image.css", rel: "stylesheet"}/
    %link{href: "$views/css/list.css", rel: "stylesheet"}/
    %link{href: "$views/css/buttons.css", rel: "stylesheet"}/
    %link{href: "css/main.css", rel: "stylesheet"}/
    %link{href: "css/github.css", rel: "stylesheet"}/
  %body
    #wrapper
      #index.section
        %h1 ShootOut
        -# %h2 Getting started
        %ul
          -# %li
            -# %a{href: "spotify:app:api-tutorial:playing:play-track"} Play a single track
          %li
            %a{href: "spotify:app:api-tutorial:playing:play-list-tracks"} Play a list of tracks
          -# %li
            -# %a{href: "spotify:app:api-tutorial:playing:current-track"} Get the currently playing track
          -# %li
            -# %a{href: "spotify:app:api-tutorial:playing:click-to-play"} Create a play/pause button with an HTML element
          -# %li
            -# %a{href: "spotify:app:api-tutorial:playing:skip-track"} Skip to the next or previous track
    %script{src: "/js/rainbow-custom.min.js"}
    %script{src: "/js/tutorial.js"}
