!!!
%html
  %head
    %link{href: "$views/css/image.css", rel: "stylesheet"}/
    %link{href: "$views/css/list.css", rel: "stylesheet"}/
    %link{href: "$views/css/buttons.css", rel: "stylesheet"}/
    %link{href: "css/main.css", rel: "stylesheet"}/
    %link{href: "css/github.css", rel: "stylesheet"}/
  %body
    #wrapper
      #index.section
        %h1 Speed & Spotify: Together at Last
        %h2 Getting started
        %ul
          %li
            %a{href: "spotify:app:api-tutorial:getting-started:manifest"} Creating your manifest file
          %li
            %a{href: "spotify:app:api-tutorial:getting-started:arguments"} Handling arguments, creating pages and navigational tabs
          %li
            %a{href: "spotify:app:api-tutorial:getting-started:drag-drop"} Dragging and dropping content into an app
        %h2 Playing music
        %ul
          %li
            %a{href: "spotify:app:api-tutorial:playing:play-track"} Play a single track
          %li
            %a{href: "spotify:app:api-tutorial:playing:play-list-tracks"} Play a list of tracks
          %li
            %a{href: "spotify:app:api-tutorial:playing:current-track"} Get the currently playing track
          %li
            %a{href: "spotify:app:api-tutorial:playing:click-to-play"} Create a play/pause button with an HTML element
          %li
            %a{href: "spotify:app:api-tutorial:playing:skip-track"} Skip to the next or previous track
        %h2 Searching
        %ul
          %li
            %a{href: "spotify:app:api-tutorial:search:metadata"} Get metadata from an artist, album, track, or playlist
          %li
            %a{href: "spotify:app:api-tutorial:search:search"} Return metadata with a given search query
        %h2 Interacting with user data
        %ul
          %li
            %a{href: "spotify:app:api-tutorial:user:toplist"} Get a user's top tracks
          %li
            %a{href: "spotify:app:api-tutorial:user:star-track"} Star and unstar a track
        %h2 Facebook
        %ul
          %li
            %a{href: "spotify:app:api-tutorial:facebook:authenticate"} Authenticate a user with Facebook
    %script{src: "/js/rainbow-custom.min.js"}
    %script{src: "/js/tutorial.js"}
    %script{src: "/js/scripts.js"}
