!!!
%html
  %head
    %link{href: "$views/css/image.css", rel: "stylesheet"}/
    %link{href: "$views/css/list.css", rel: "stylesheet"}/
    %link{href: "$views/css/buttons.css", rel: "stylesheet"}/
    %link{href: "css/main.css", rel: "stylesheet"}/
    %link{href: "css/github.css", rel: "stylesheet"}/
    %link{href: "css/app.css", rel: "stylesheet"}/
  %body
    #wrapper
      #index.section
        %h1 ShootOut
        %h2 Two Songs Enter<span> one song leaves</span>
        .section
          -# %p.description Which Song Will Draw First Blood
          -# .reference
            -# %a{href: "https://developer.spotify.com/docs/apps/api/1.0/api-models-playlist.html"} Playlist Model
            -# and
            -# = succeed "." do
            -#   %a{href: "https://developer.spotify.com/docs/apps/views/1.0/list-list.html"} List View
          -# %h3 The Javascript
          -# #js
          -# %h3 he HTML
          .html-snippet{"data-container" => "html"}
            #drop-box Drop a playlist here
          #html
          -# %h3 Live Example
          .html-snippet{"data-container" => "html"}
            #playlist-player
          %script{"data-container" => "js", type: "script/snippet"}
            :plain
              require(['$api/models', '$views/list#List'], function(models, List) {
              
              var playlist = models.Playlist.fromURI('spotify:user:gorillawit:playlist:3SD5mWUVQG7TJfuJmJDwKq'),
              list = List.forPlaylist(playlist);
              
              document.getElementById('playlist-player').appendChild(list.node);
              list.init();


              // Handle drops
              var dropBox = document.querySelector('#drop-box');

              dropBox.addEventListener('dragstart', function(e){
                  e.dataTransfer.setData('text/html', this.innerHTML);
                  e.dataTransfer.effectAllowed = 'copy';
              }, false);

              dropBox.addEventListener('dragenter', function(e){
                  e.preventDefault();
                  e.dataTransfer.dropEffect = 'copy';
                  this.classList.add('over');
              }, false);

              dropBox.addEventListener('dragover', function(e){
                  e.preventDefault();
                  e.dataTransfer.dropEffect = 'copy';
                  return false;
              }, false);

              dropBox.addEventListener('dragleave', function(e){
                  e.preventDefault();
                  this.classList.remove('over');
              }, false);

              dropBox.addEventListener('drop', function(e){
                  e.preventDefault();
                  var drop = models.Playlist.fromURI(e.dataTransfer.getData('text'));
                  this.classList.remove('over');
                  var successMessage = document.createElement('p');
                  successMessage.innerHTML = 'Playlist successfully dropped: ' + drop.uri;
                  this.appendChild(successMessage);
              }, false);
              });
    %script{src: "/js/rainbow-custom.min.js"}
    -# %script{src: "/js/tutorial.js"}
    %script{src: "/js/main.js"}
